:root{
--primary-lighten1: #2e98ff; /* blue referances */
--primary: #2d88ff; /* blue tabs */

--success: #31a24c; /* green online */
--success-darken1: #1F3520; /* background color for offline friends */

--info: #f02849; /* red background of notification */

--black: #000; /* system black color */

--white: #fff; /* notification text */

--secondary-lighten1: #e4e6eb; /* menu text, nicknames */
--secondary-lighten2: #b0b3b8; /* dates, likes, headings text, footer text */
--secondary-lighten3: #4E4F50; /* inputs hover background */
--secondary-lighten4: #4b4c4f; /* new message button */
--secondary-lighten5: #3a3b3c; /* background of round buttons and card buttons */
--secondary-lighten6: #33363a; /* stories photo border */
--secondary-lighten7: #303031; /* inputs, stories background */
--secondary-lighten8: #2f3031; /* header border */
--secondary-lighten9: #2d2f30; /* highlight lines after menu and posts */
--secondary-lighten10: #242526; /* header, post and card background */
--secondary: #18191a; /* body background */
}