$margin: ();

/* just change 6 to any other number to increase/decrease amount of margin configs */
  @for $i from 0 through 6 {
    $tmpMargin: ("#{$i}": $i*$base-rhythm, );
    $margin: map-merge($margin, $tmpMargin);
  }