$primary: (
  "default": #2d88ff, //brand color
  "lighten-1": #2e98ff, //references
);

$secondary: (
  "default": #18191a, //body background
  "lighten-1": #242526, //header, post and card background
  "lighten-2": #3a3b3c, //buttons
  "lighten-3": #b0b3b8, //text, info text
  "lighten-4": #e4e6eb, //text, nicknames
);

$success: (
  "default": #31a24c,
  "darken-1": #1f3520,
);

$alert: #f5bb41;
$info: #f02849;

$black: #000; //system black color
$white: #fff; //notification text
