$primary-lighten1: #2e98ff; //references
$primary: #2d88ff; //brand color

$success: #31a24c;
$success-darken1: #1F3520; //background for offline friends
$allert: #f5bb41;
$info: #f02849;

$black: #000; //system black color
$white: #fff; //notification text

$secondary-lighten4: #e4e6eb; //text, nicknames
$secondary-lighten3: #b0b3b8; //text, likes, dates
$secondary-lighten2: #3a3b3c; //background of round buttons and card buttons 
$secondary-lighten1: #242526; //header, post and card background
$secondary: #18191a; //body background
