@each $key, $value in $primary {
  @if $key != "default" { // all items except default will have next changes
    .bgc-primary-#{$key} { // key - "lighten-1"
      background-color: $value !important; // value - color hex
    }
  }
  @else { //handling default value
    .bgc-primary {
      background-color: $value !important;
    }
  }
}

@each $key, $value in $secondary {
  @if $key != "default" {
    .bgc-secondary-#{$key} { // key - "lighten-1", "lighten-2", "lighten-3", etc.
      background-color: $value !important; // value - color hex
    }
  }
  @else {
    .bgc-secondary {
      background-color: $value !important;
    }
  }
}

@each $key, $value in $success {
  @if $key != "default" {
    .bgc-success-#{$key} { // key - "darken-1", etc.
      background-color: $value !important; // value - color hex
    }
  }
  @else {
    .bgc-success {
      background-color: $value !important;
    }
  }
}

.bgc-alert {
  background-color: $alert !important;
}
.bgc-info {
  background-color: $info !important;
}
.bgc-black {
  background-color: $black !important;
}
.bgc-white {
  background-color: $white !important;
}
