@import "../../config/borders/border-color";

.bc-primary {
 border-color: $bc-primary;
}

@each $key, $value in $bc-secondary {
 .bc-#{$key} { //key - "lighten1, lighten2..."
   border-color: $value; //value - var, that contains hex from dark.scss
 }
}