@import "../../config/typography/font-color";

@each $key, $value in $font-color {
  .fc-#{$key} { //key - "primary", "secondary" etc.
    color: $value !important; //value - var, that contains hex from dark.scss
  }
}

.fc-system{
  color: $black !important;
}