/* bottom margin */
.mb-0 {
  margin-bottom: var(--margin-0) !important;
}
.mb-1 {
  margin-bottom: var(--margin-1) !important;
}
.mb-2 {
  margin-bottom: var(--margin-2) !important;
}
.mb-3 {
  margin-bottom: var(--margin-3) !important;
}
.mb-4 {
  margin-bottom: var(--margin-4) !important;
}
.mb-5 {
  margin-bottom: var(--margin-5) !important;
}
.mb-6 {
  margin-bottom: var(--margin-6) !important;
}

@media screen and (min-width: 576px){
    .mb-0-sm{
        margin-bottom: var(--margin-0) !important;
    }
    .mb-1-sm{
        margin-bottom: var(--margin-1) !important;
    }
    .mb-2-sm{
        margin-bottom: var(--margin-2) !important;
    }
    .mb-3-sm{
        margin-bottom: var(--margin-3) !important;
    }
    .mb-4-sm{
        margin-bottom: var(--margin-4) !important;
    }
    .mb-5-sm{
        margin-bottom: var(--margin-5) !important;
    }
    .mb-6-sm{
      margin-bottom: var(--margin-6) !important;
    }
}
@media screen and (min-width: 768px){
    .mb-0-md{
        margin-bottom: var(--margin-0) !important;
    }
    .mb-1-md{
        margin-bottom: var(--margin-1) !important;
    }
    .mb-2-md{
        margin-bottom: var(--margin-2) !important;
    }
    .mb-3-md{
        margin-bottom: var(--margin-3) !important;
    }
    .mb-4-md{
        margin-bottom: var(--margin-4) !important;
    }
    .mb-5-md{
        margin-bottom: var(--margin-5) !important;
    }
    .mb-6-md{
      margin-bottom: var(--margin-6) !important;
    }
}
@media screen and (min-width: 992px){
    .mb-0-lg{
        margin-bottom: var(--margin-0) !important;
    }
    .mb-1-lg{
        margin-bottom: var(--margin-1) !important;
    }
    .mb-2-lg{
        margin-bottom: var(--margin-2) !important;
    }
    .mb-3-lg{
        margin-bottom: var(--margin-3) !important;
    }
    .mb-4-lg{
        margin-bottom: var(--margin-4) !important;
    }
    .mb-5-lg{
        margin-bottom: var(--margin-5) !important;
    }
    .mb-6-lg{
      margin-bottom: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1200px){
    .mb-0-xl{
        margin-bottom: var(--margin-0) !important;
    }
    .mb-1-xl{
        margin-bottom: var(--margin-1) !important;
    }
    .mb-2-xl{
        margin-bottom: var(--margin-2) !important;
    }
    .mb-3-xl{
        margin-bottom: var(--margin-3) !important;
    }
    .mb-4-xl{
        margin-bottom: var(--margin-4) !important;
    }
    .mb-5-xl{
        margin-bottom: var(--margin-5) !important;
    }
    .mb-6-xl{
      margin-bottom: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1400px){
    .mb-0-xxl{
        margin-bottom: var(--margin-0) !important;
    }
    .mb-1-xxl{
        margin-bottom: var(--margin-1) !important;
    }
    .mb-2-xxl{
        margin-bottom: var(--margin-2) !important;
    }
    .mb-3-xxl{
        margin-bottom: var(--margin-3) !important;
    }
    .mb-4-xxl{
        margin-bottom: var(--margin-4) !important;
    }
    .mb-5-xxl{
        margin-bottom: var(--margin-5) !important;
    }
    .mb-6-xxl{
      margin-bottom: var(--margin-6) !important;
    }
}


/* margin right */
.mr-0 {
  margin-right: var(--margin-0) !important;
}
.mr-1 {
  margin-right: var(--margin-1) !important;
}
.mr-2 {
  margin-right: var(--margin-2) !important;
}
.mr-3 {
  margin-right: var(--margin-3) !important;
}
.mr-4 {
  margin-right: var(--margin-4) !important;
}
.mr-5 {
  margin-right: var(--margin-5) !important;
}
.mr-6 {
  margin-right: var(--margin-6) !important;
}

@media screen and (min-width: 576px){
    .mr-0-sm{
        margin-right: var(--margin-0) !important;
    }
    .mr-1-sm{
        margin-right: var(--margin-1) !important;
    }
    .mr-2-sm{
        margin-right: var(--margin-2) !important;
    }
    .mr-3-sm{
        margin-right: var(--margin-3) !important;
    }
    .mr-4-sm{
        margin-right: var(--margin-4) !important;
    }
    .mr-5-sm{
        margin-right: var(--margin-5) !important;
    }
    .mr-6-sm{
      margin-right: var(--margin-6) !important;
    }
}
@media screen and (min-width:768px){
    .mr-0-md{
        margin-right: var(--margin-0) !important;
    }
    .mr-1-md{
        margin-right: var(--margin-1) !important;
    }
    .mr-2-md{
        margin-right: var(--margin-2) !important;
    }
    .mr-3-md{
        margin-right: var(--margin-3) !important;
    }
    .mr-4-md{
        margin-right: var(--margin-4) !important;
    }
    .mr-5-md{
        margin-right: var(--margin-5) !important;
    }
    .mr-6-md{
      margin-right: var(--margin-6) !important;
    }
}
@media screen and (min-width: 992px){
    .mr-0-lg{
        margin-right: var(--margin-0) !important;
    }
    .mr-1-lg{
        margin-right: var(--margin-1) !important;
    }
    .mr-2-lg{
        margin-right: var(--margin-2) !important;
    }
    .mr-3-lg{
        margin-right: var(--margin-3) !important;
    }
    .mr-4-lg{
        margin-right: var(--margin-4) !important;
    }
    .mr-5-lg{
        margin-right: var(--margin-5) !important;
    }
    .mr-6-lg{
      margin-right: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1200px){
    .mr-0-xl{
        margin-right: var(--margin-0) !important;
    }
    .mr-1-xl{
        margin-right: var(--margin-1) !important;
    }
    .mr-2-xl{
        margin-right: var(--margin-2) !important;
    }
    .mr-3-xl{
        margin-right: var(--margin-3) !important;
    }
    .mr-4-xl{
        margin-right: var(--margin-4) !important;
    }
    .mr-5-xl{
        margin-right: var(--margin-5) !important;
    }
    .mr-6-xl{
      margin-right: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1400px){
    .mr-0-xxl{
        margin-right: var(--margin-0) !important;
    }
    .mr-1-xxl{
        margin-right: var(--margin-1) !important;
    }
    .mr-2-xxl{
        margin-right: var(--margin-2) !important;
    }
    .mr-3-xxl{
        margin-right: var(--margin-3) !important;
    }
    .mr-4-xxl{
        margin-right: var(--margin-4) !important;
    }
    .mr-5-xxl{
        margin-right: var(--margin-5) !important;
    }
    .mr-6-xxl{
      margin-right: var(--margin-6) !important;
    }
}

/* margin left */
.ml-0 {
  margin-left: var(--margin-0) !important;
}
.ml-1 {
  margin-left: var(--margin-1) !important;
}
.ml-2 {
  margin-left: var(--margin-2) !important;
}
.ml-3 {
  margin-left: var(--margin-3) !important;
}
.ml-4 {
  margin-left: var(--margin-4) !important;
}
.ml-5 {
  margin-left: var(--margin-5) !important;
}
.ml-6 {
  margin-left: var(--margin-6) !important;
}

@media screen and (min-width: 576px){
    .ml-0-sm{
        margin-left: var(--margin-0) !important;
    }
    .ml-1-sm{
        margin-left: var(--margin-1) !important;
    }
    .ml-2-sm{
        margin-left: var(--margin-2) !important;
    }
    .ml-3-sm{
        margin-left: var(--margin-3) !important;
    }
    .ml-4-sm{
        margin-left: var(--margin-4) !important;
    }
    .ml-5-sm{
        margin-left: var(--margin-5) !important;
    }
    .ml-6-sm{
      margin-left: var(--margin-6) !important;
    }
}
@media screen and (min-width: 768px){
    .ml-0-md{
        margin-left: var(--margin-0) !important;
    }
    .ml-1-md{
        margin-left: var(--margin-1) !important;
    }
    .ml-2-md{
        margin-left: var(--margin-2) !important;
    }
    .ml-3-md{
        margin-left: var(--margin-3) !important;
    }
    .ml-4-md{
        margin-left: var(--margin-4) !important;
    }
    .ml-5-md{
        margin-left: var(--margin-5) !important;
    }
    .ml-6-md{
      margin-left: var(--margin-6) !important;
    }
}
@media screen and (min-width: 992px){
    .ml-0-lg{
        margin-left: var(--margin-0) !important;
    }
    .ml-1-lg{
        margin-left: var(--margin-1) !important;
    }
    .ml-2-lg{
        margin-left: var(--margin-2) !important;
    }
    .ml-3-lg{
        margin-left: var(--margin-3) !important;
    }
    .ml-4-lg{
        margin-left: var(--margin-4) !important;
    }
    .ml-5-lg{
        margin-left: var(--margin-5) !important;
    }
    .ml-6-lg{
      margin-left: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1200px){
    .ml-0-xl{
        margin-left: var(--margin-0) !important;
    }
    .ml-1-xl{
        margin-left: var(--margin-1) !important;
    }
    .ml-2-xl{
        margin-left: var(--margin-2) !important;
    }
    .ml-3-xl{
        margin-left: var(--margin-3) !important;
    }
    .ml-4-xl{
        margin-left: var(--margin-4) !important;
    }
    .ml-5-xl{
        margin-left: var(--margin-5) !important;
    }
    .ml-6-xl{
      margin-left: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1400px){
    .ml-0-xxl{
        margin-left: var(--margin-0) !important;
    }
    .ml-1-xxl{
        margin-left: var(--margin-1) !important;
    }
    .ml-2-xxl{
        margin-left: var(--margin-2) !important;
    }
    .ml-3-xxl{
        margin-left: var(--margin-3) !important;
    }
    .ml-4-xxl{
        margin-left: var(--margin-4) !important;
    }
    .ml-5-xxl{
        margin-left: var(--margin-5) !important;
    }
    .ml-6-xxl{
      margin-left: var(--margin-6) !important;
    }
}

/* margin top */
.mt-0 {
  margin-top: var(--margin-0) !important;
}
.mt-1 {
  margin-top: var(--margin-1) !important;
}
.mt-2 {
  margin-top: var(--margin-2) !important;
}
.mt-3 {
  margin-top: var(--margin-3) !important;
}
.mt-4 {
  margin-top: var(--margin-4) !important;
}
.mt-5 {
  margin-top: var(--margin-5) !important;
}
.mt-6 {
  margin-top: var(--margin-6) !important;
}

@media screen and (min-width: 576px){
    .mt-0-sm{
        margin-top: var(--margin-0) !important;
    }
    .mt-1-sm{
        margin-top: var(--margin-1) !important;
    }
    .mt-2-sm{
        margin-top: var(--margin-2) !important;
    }
    .mt-3-sm{
        margin-top: var(--margin-3) !important;
    }
    .mt-4-sm{
        margin-top: var(--margin-4) !important;
    }
    .mt-5-sm{
        margin-top: var(--margin-5) !important;
    }
    .mt-6-sm{
      margin-top: var(--margin-6) !important;
    }
}
@media screen and (min-width: 768px){
    .mt-0-md{
        margin-top: var(--margin-0) !important;
    }
    .mt-1-md{
        margin-top: var(--margin-1) !important;
    }
    .mt-2-md{
        margin-top: var(--margin-2) !important;
    }
    .mt-3-md{
        margin-top: var(--margin-3) !important;
    }
    .mt-4-md{
        margin-top: var(--margin-4) !important;
    }
    .mt-5-md{
        margin-top: var(--margin-5) !important;
    }
    .mt-6-md{
      margin-top: var(--margin-6) !important;
    }
}
@media screen and (min-width: 992px){
    .mt-0-md{
        margin-top: var(--margin-0) !important;
    }
    .mt-1-md{
        margin-top: var(--margin-1) !important;
    }
    .mt-2-md{
        margin-top: var(--margin-2) !important;
    }
    .mt-3-md{
        margin-top: var(--margin-3) !important;
    }
    .mt-4-md{
        margin-top: var(--margin-4) !important;
    }
    .mt-5-md{
        margin-top: var(--margin-5) !important;
    }
    .mt-6-md{
      margin-top: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1200px){
    .mt-0-xl{
        margin-top: var(--margin-0) !important;
    }
    .mt-1-xl{
        margin-top: var(--margin-1) !important;
    }
    .mt-2-xl{
        margin-top: var(--margin-2) !important;
    }
    .mt-3-xl{
        margin-top: var(--margin-3) !important;
    }
    .mt-4-xl{
        margin-top: var(--margin-4) !important;
    }
    .mt-5-xl{
        margin-top: var(--margin-5) !important;
    }
    .mt-6-xl{
      margin-top: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1400px){
    .mt-0-xxl{
        margin-top: var(--margin-0) !important;
    }
    .mt-1-xxl{
        margin-top: var(--margin-1) !important;
    }
    .mt-2-xxl{
        margin-top: var(--margin-2) !important;
    }
    .mt-3-xxl{
        margin-top: var(--margin-3) !important;
    }
    .mt-4-xxl{
        margin-top: var(--margin-4) !important;
    }
    .mt-5-xxl{
        margin-top: var(--margin-5) !important;
    }
    .mt-6-xxl{
      margin-top: var(--margin-6) !important;
    }
}


/* margin horizontal */
.mx-0 {
  margin-left: var(--margin-0) !important;
  margin-right: var(--margin-0) !important;
}
.mx-1 {
  margin-left: var(--margin-1) !important;
  margin-right: var(--margin-1) !important;
}
.mx-2 {
  margin-left: var(--margin-2) !important;
  margin-right: var(--margin-2) !important;
}
.mx-3 {
  margin-left: var(--margin-3) !important;
  margin-right: var(--margin-3) !important;
}
.mx-4 {
  margin-left: var(--margin-4) !important;
  margin-right: var(--margin-4) !important;
}
.mx-5 {
  margin-left: var(--margin-5) !important;
  margin-right: var(--margin-5) !important;
}
.mx-6 {
  margin-left: var(--margin-6) !important;
  margin-right: var(--margin-6) !important;
}

@media screen and (min-width: 576px){
    .mx-0-sm{
      margin-left: var(--margin-0) !important;
      margin-right: var(--margin-0) !important;
    }
    .mx-1-sm{
      margin-left: var(--margin-1) !important;
      margin-right: var(--margin-1) !important;
    }
    .mx-2-sm{
      margin-left: var(--margin-2) !important;
      margin-right: var(--margin-2) !important;
    }
    .mx-3-sm{
      margin-left: var(--margin-3) !important;
      margin-right: var(--margin-3) !important;
    }
    .mx-4-sm{
      margin-left: var(--margin-4) !important;
      margin-right: var(--margin-4) !important;
    }
    .mx-5-sm{
      margin-left: var(--margin-5) !important;
      margin-right: var(--margin-5) !important;
    }
    .mx-6-sm{
      margin-left: var(--margin-6) !important;
      margin-right: var(--margin-6) !important;
    }
}
@media screen and (min-width: 768px){
    .mx-0-md{
      margin-left: var(--margin-0) !important;
      margin-right: var(--margin-0) !important;
    }
    .mx-1-md{
      margin-left: var(--margin-1) !important;
      margin-right: var(--margin-1) !important;
    }
    .mx-2-md{
      margin-left: var(--margin-2) !important;
      margin-right: var(--margin-2) !important;
    }
    .mx-3-md{
      margin-left: var(--margin-3) !important;
      margin-right: var(--margin-3) !important;
    }
    .mx-4-md{
      margin-left: var(--margin-4) !important;
      margin-right: var(--margin-4) !important;
    }
    .mx-5-md{
      margin-left: var(--margin-5) !important;
      margin-right: var(--margin-5) !important;
    }
    .mx-6-md{
      margin-left: var(--margin-6) !important;
      margin-right: var(--margin-6) !important;
    }
}
@media screen and (min-width: 992px){
    .mx-0-md{
      margin-left: var(--margin-0) !important;
      margin-right: var(--margin-0) !important;
    }
    .mx-1-md{
      margin-left: var(--margin-1) !important;
      margin-right: var(--margin-1) !important;
    }
    .mx-2-md{
      margin-left: var(--margin-2) !important;
      margin-right: var(--margin-2) !important;
    }
    .mx-3-md{
      margin-left: var(--margin-3) !important;
      margin-right: var(--margin-3) !important;
    }
    .mx-4-md{
      margin-left: var(--margin-4) !important;
      margin-right: var(--margin-4) !important;
    }
    .mx-5-md{
      margin-left: var(--margin-5) !important;
      margin-right: var(--margin-5) !important;
    }
    .mx-6-md{
      margin-left: var(--margin-6) !important;
      margin-right: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1200px){
    .mx-0-xl{
      margin-left: var(--margin-0) !important;
      margin-right: var(--margin-0) !important;
    }
    .mx-1-xl{
      margin-left: var(--margin-1) !important;
      margin-right: var(--margin-1) !important;
    }
    .mx-2-xl{
      margin-left: var(--margin-2) !important;
      margin-right: var(--margin-2) !important;
    }
    .mx-3-xl{
      margin-left: var(--margin-3) !important;
      margin-right: var(--margin-3) !important;
    }
    .mx-4-xl{
      margin-left: var(--margin-4) !important;
      margin-right: var(--margin-4) !important;
    }
    .mx-5-xl{
      margin-left: var(--margin-5) !important;
      margin-right: var(--margin-5) !important;
    }
    .mx-6-xl{
      margin-left: var(--margin-6) !important;
      margin-right: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1400px){
    .mx-0-xxl{
      margin-left: var(--margin-0) !important;
      margin-right: var(--margin-0) !important;
    }
    .mx-1-xxl{
      margin-left: var(--margin-1) !important;
      margin-right: var(--margin-1) !important;
    }
    .mx-2-xxl{
      margin-left: var(--margin-2) !important;
      margin-right: var(--margin-2) !important;
    }
    .mx-3-xxl{
      margin-left: var(--margin-3) !important;
      margin-right: var(--margin-3) !important;
    }
    .mx-4-xxl{
      margin-left: var(--margin-4) !important;
      margin-right: var(--margin-4) !important;
    }
    .mx-5-xxl{
      margin-left: var(--margin-5) !important;
      margin-right: var(--margin-5) !important;
    }
    .mx-6-xxl{
      margin-left: var(--margin-6) !important;
      margin-right: var(--margin-6) !important;
    }
}

/* margin vertical */
.my-0 {
  margin-top: var(--margin-0) !important;
  margin-bottom: var(--margin-0) !important;
}
.my-1 {
  margin-top: var(--margin-1) !important;
  margin-bottom: var(--margin-1) !important;
}
.my-2 {
  margin-top: var(--margin-2) !important;
  margin-bottom: var(--margin-2) !important;
}
.my-3 {
  margin-top: var(--margin-3) !important;
  margin-bottom: var(--margin-3) !important;
}
.my-4 {
  margin-top: var(--margin-4) !important;
  margin-bottom: var(--margin-4) !important;
}
.my-5 {
  margin-top: var(--margin-5) !important;
  margin-bottom: var(--margin-5) !important;
}
.my-6 {
  margin-top: var(--margin-6) !important;
  margin-bottom: var(--margin-6) !important;
}

@media screen and (min-width: 576px){
    .my-0-sm{
      margin-top: var(--margin-0) !important;
      margin-bottom: var(--margin-0) !important;
    }
    .my-1-sm{
      margin-top: var(--margin-1) !important;
      margin-bottom: var(--margin-1) !important;
    }
    .my-2-sm{
      margin-top: var(--margin-2) !important;
      margin-bottom: var(--margin-2) !important;
    }
    .my-3-sm{
      margin-top: var(--margin-3) !important;
      margin-bottom: var(--margin-3) !important;
    }
    .my-4-sm{
      margin-top: var(--margin-4) !important;
      margin-bottom: var(--margin-4) !important;
    }
    .my-5-sm{
      margin-top: var(--margin-5) !important;
      margin-bottom: var(--margin-5) !important;
    }
    .my-6-sm{
      margin-top: var(--margin-6) !important;
      margin-bottom: var(--margin-6) !important;
    }
}
@media screen and (min-width: 768px){
    .my-0-md{
      margin-top: var(--margin-0) !important;
      margin-bottom: var(--margin-0) !important;
    }
    .my-1-md{
      margin-top: var(--margin-1) !important;
      margin-bottom: var(--margin-1) !important;
    }
    .my-2-md{
      margin-top: var(--margin-2) !important;
      margin-bottom: var(--margin-2) !important;
    }
    .my-3-md{
      margin-top: var(--margin-3) !important;
      margin-bottom: var(--margin-3) !important;
    }
    .my-4-md{
      margin-top: var(--margin-4) !important;
      margin-bottom: var(--margin-4) !important;
    }
    .my-5-md{
      margin-top: var(--margin-5) !important;
      margin-bottom: var(--margin-5) !important;
    }
    .my-6-md{
      margin-top: var(--margin-6) !important;
      margin-bottom: var(--margin-6) !important;
    }
}
@media screen and (min-width: 992px){
    .my-0-md{
      margin-top: var(--margin-0) !important;
      margin-bottom: var(--margin-0) !important;
    }
    .my-1-md{
      margin-top: var(--margin-1) !important;
      margin-bottom: var(--margin-1) !important;
    }
    .my-2-md{
      margin-top: var(--margin-2) !important;
      margin-bottom: var(--margin-2) !important;
    }
    .my-3-md{
      margin-top: var(--margin-3) !important;
      margin-bottom: var(--margin-3) !important;
    }
    .my-4-md{
      margin-top: var(--margin-4) !important;
      margin-bottom: var(--margin-4) !important;
    }
    .my-5-md{
      margin-top: var(--margin-5) !important;
      margin-bottom: var(--margin-5) !important;
    }
    .my-6-md{
      margin-top: var(--margin-6) !important;
      margin-bottom: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1200px){
    .my-0-xl{
      margin-top: var(--margin-0) !important;
      margin-bottom: var(--margin-0) !important;
    }
    .my-1-xl{
      margin-top: var(--margin-1) !important;
      margin-bottom: var(--margin-1) !important;
    }
    .my-2-xl{
      margin-top: var(--margin-2) !important;
      margin-bottom: var(--margin-2) !important;
    }
    .my-3-xl{
      margin-top: var(--margin-3) !important;
      margin-bottom: var(--margin-3) !important;
    }
    .my-4-xl{
      margin-top: var(--margin-4) !important;
      margin-bottom: var(--margin-4) !important;
    }
    .my-5-xl{
      margin-top: var(--margin-5) !important;
      margin-bottom: var(--margin-5) !important;
    }
    .my-6-xl{
      margin-top: var(--margin-6) !important;
      margin-bottom: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1400px){
    .my-0-xxl{
      margin-top: var(--margin-0) !important;
      margin-bottom: var(--margin-0) !important;
    }
    .my-1-xxl{
      margin-top: var(--margin-1) !important;
      margin-bottom: var(--margin-1) !important;
    }
    .my-2-xxl{
      margin-top: var(--margin-2) !important;
      margin-bottom: var(--margin-2) !important;
    }
    .my-3-xxl{
      margin-top: var(--margin-3) !important;
      margin-bottom: var(--margin-3) !important;
    }
    .my-4-xxl{
      margin-top: var(--margin-4) !important;
      margin-bottom: var(--margin-4) !important;
    }
    .my-5-xxl{
      margin-top: var(--margin-5) !important;
      margin-bottom: var(--margin-5) !important;
    }
    .my-6-xxl{
      margin-top: var(--margin-6) !important;
      margin-bottom: var(--margin-6) !important;
    }
}
