@import "../../config/offsets/margin";

.m-0{
    margin: map-get($margin, "0") !important;
}

@each $key, $value in $margin {
    @each $point, $screen-size in $grid-breakpoints{
            @media screen and (min-width: $screen-size){
                @if $point == xs{
                    $point: "";
                } @else {
                    $point: -#{$point};
                }
            .mt-#{$key}#{$point} {
                margin-top: $value !important;
            }
            .mb-#{$key}#{$point} {
                margin-bottom: $value !important;
            }
            .ml-#{$key}#{$point} {
                margin-left: $value!important;
            }
            .mr-#{$key}#{$point} {
                margin-right: $value !important;
            }
            .mx-#{$key}#{$point} {
                margin-right: $value !important;
                margin-left: $value !important;
            }
            .my-#{$key}#{$point} {
                margin-top: $value !important;
                margin-bottom: $value !important;
            }
        }
    }

}