@import "../config/colors.css";

.input {
    position: relative;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border: none;
    color: var(--text-primary-darken2);
    background-color: var(--dark-darken2);
    cursor: pointer;
    text-align: left;
}

.input-flex{
  flex:1;
  background: transparent;
  outline: none;
  border:none;
}
.input-justify {

  justify-content: space-between;
}
.input-icon {
    max-height: 40px;
    border-radius: 24px;
    max-width: 400px;
    font-size: 14px;
    padding: 12px 12px 12px;
}

.input-display {
display: flex;
}
