@import "../config/colors.css";
@import "../lib/sizes.css";


body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
p{
    margin: 0;
}

.menu {
    /*padding-left: 8px;*/
    /*padding-top: 16px;*/
    /*width: 360px;*/
    width: 100%;
    background-color: var(--gray-background);
}

.avatar {
    border-radius: 50%;
}

.menu_items__item {
   
    width: 95%;
   /* height: 52px;*//*
    align-items: center;*/

}

/*.menu_items__item:hover {*/
/*    background-color: var(--gray-dark);*/
/*    border-radius: 10px;*/
/*}*/

.menu_links {
    margin-bottom: 300px;
}

.menu_links_line {
    width: 90%;
    border-bottom: 1px solid var(--gray-line);
}

.menu_links__item {
    display: flex;
    align-items: center;

}
.menu_links__item:hover{
    background-color: var(--gray-dark);
    border-radius: 10px;
}
.menu_links__links-img {
    border-radius: 10px;
}


.menu_inform a:hover {
    text-decoration: underline;
}

.menu_inform_dot {
    color: var(--text-color-secondary);
}

.copyright {
    margin: 0;
    display: inline;
}

.menu-right {
    padding-top: 0;
}

.advertising-items {
    border-bottom: 1px solid var(--gray-line);
}


.advertising-item:hover {
    background-color: var(--gray-dark);
    border-radius: 10px;
}


.all-requests {
    text-decoration: none;
}

.requests {
    border-bottom: 1px solid var(--gray-line);
   
}

/*.request-item:hover {*/
/*    border-radius: 10px;*/
/*    background-color: rgba(255, 255, 255, 0.05);*/
/*}*/


.contact_items {
    border-bottom: 1px solid var(--gray-line);
}


/*.contact_items__item:hover {*/
/*    background-color: var(--gray-dark);*/
/*    border-radius: 10px;*/
/*}*/


.group-chats_items {
    border-bottom: 1px solid var(--gray-line);
}
.group-chats_item:hover{
    background-color: var(--gray-dark);
    border-radius: 10px;
}
