@import "../config/colors.css";
@import "../lib/sizes.css";


body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
p{
    margin: 0;
}

.menu {
    /*width: 360px;*/
    width: 100%;
    background-color: var(--gray-background);
}


.menu_items__item {
   
    width: 95%;
   /* height: 52px;*//*
    align-items: center;*/

}

.menu_links {
    margin-bottom: 300px;
}

.menu_links_line {
    width: 90%;
    border-bottom: 1px solid var(--gray-line);
}



.copyright {
    display: inline;
}

.menu-right {
    padding-top: 0;
}

.advertising-items {
    border-bottom: 1px solid var(--gray-line);
}

.all-requests {
    text-decoration: none;
}

.requests {
    border-bottom: 1px solid var(--gray-line);
   
}
.requests-descr{
    width: 90%;
}
.contact_items {
    border-bottom: 1px solid var(--gray-line);
}


.group-chats_items {
    border-bottom: 1px solid var(--gray-line);
}
