body{
    /*background-color: var(--gray-background);*/
}


.header-block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.tabs-nav{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.tabs-nav-item:last-child{
    margin: 0 !important;
}
@media(max-width:700px){
    .tabs-nav-item{
        display: none;
    }
}
.tabs-nav-item{
    display: flex;
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    margin-right: 8px;
}
.tabs-nav-item > i .notif-badge{
    position: absolute;
    font-size: 13px;
    left: 80%;
    top: -20%;
    background-color: var(--notification);
    color: var(--text-primary);
    border-radius: 20px;
    padding: 2px 6px;
}
.tabs-nav-item > div.active{

    width: 100%;
    position: absolute;
    z-index: 5;
    bottom: -5px;
    border-bottom: 3px solid var(--primary);
}
.tabs-nav-item > i{
    font-size: 28px;
    position: relative;
}
.tabs-nav-item.active .fa{
    color: var(--primary);
}
