:root{
    --base--font-size: 15px !important;
    --base--rythm: 4px !important;

    --breakpoint-xs: 576px !important;
    --breakpoint-sm: 576px !important;
    --breakpoint-md: 768px !important;
    --breakpoint-lg: 992px !important;
    --breakpoint-xl: 1200px !important;
}