$font-size: (
        "h1":3.2rem, //48px - h1
        "h2":2.666rem, //40px - h2
        "h3":2.1333, //32px - h3
        "h4":1.733rem, //26px - h4
        "title1": 1.3333rem, //20px - h5
        "title2": 1.1333rem, //17px - h6
        "body": 1rem, //15px - .body
        "caption1": 0.8666rem, //13px -.caption1
        "caption2": 0.8rem, //12px -.caption2
        "caption3": 0.6666rem //10px -.caption3
);
//$fs-title1: 1.3333rem;
//$fs-title2: 1.1333rem;
//$fs-body: 1rem;
//$fs-caption1: 0.8666rem;
//$fs-caption2: 0.8rem;
//$fs-caption3: 0.6666rem;