@import "../colors/dark.css";
$font-color-primary: $secondary-lighten4; /*!* other *!*/
$font-color-secondary: $secondary-lighten2; /*!* for title2, caption1*/
$font-color-brand: $primary-lighten1; /*!* for caption2, body*!*/
$font-color-white: $white; /*!* for caption1*!*/

