/* bottom margin */
.mb-0 {
  margin-bottom: var(--margin-0) !important;
}
.mb-1 {
  margin-bottom: var(--margin-1) !important;
}
.mb-2 {
  margin-bottom: var(--margin-2) !important;
}
.mb-3 {
  margin-bottom: var(--margin-3) !important;
}
.mb-4 {
  margin-bottom: var(--margin-4) !important;
}
.mb-5 {
  margin-bottom: var(--margin-5) !important;
}
.mb-6 {
  margin-bottom: var(--margin-6) !important;
}

@media screen and (min-width: 576px){
    .mb-sm-0{
        margin-bottom: var(--margin-0) !important;
    }
    .mb-sm-1{
        margin-bottom: var(--margin-1) !important;
    }
    .mb-sm-2{
        margin-bottom: var(--margin-2) !important;
    }
    .mb-sm-3{
        margin-bottom: var(--margin-3) !important;
    }
    .mb-sm-4{
        margin-bottom: var(--margin-4) !important;
    }
    .mb-sm-5{
        margin-bottom: var(--margin-5) !important;
    }
    .mb-sm-6{
      margin-bottom: var(--margin-6) !important;
    }
}
@media screen and (min-width: 768px){
    .mb-md-0{
        margin-bottom: var(--margin-0) !important;
    }
    .mb-md-1{
        margin-bottom: var(--margin-1) !important;
    }
    .mb-md-2{
        margin-bottom: var(--margin-2) !important;
    }
    .mb-md-3{
        margin-bottom: var(--margin-3) !important;
    }
    .mb-md-4{
        margin-bottom: var(--margin-4) !important;
    }
    .mb-md-5{
        margin-bottom: var(--margin-5) !important;
    }
    .mb-md-6{
      margin-bottom: var(--margin-6) !important;
    }
}
@media screen and (min-width: 992px){
    .mb-lg-0{
        margin-bottom: var(--margin-0) !important;
    }
    .mb-lg-1{
        margin-bottom: var(--margin-1) !important;
    }
    .mb-lg-2{
        margin-bottom: var(--margin-2) !important;
    }
    .mb-lg-3{
        margin-bottom: var(--margin-3) !important;
    }
    .mb-lg-4{
        margin-bottom: var(--margin-4) !important;
    }
    .mb-lg-5{
        margin-bottom: var(--margin-5) !important;
    }
    .mb-lg-6{
      margin-bottom: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1200px){
    .mb-xl-0{
        margin-bottom: var(--margin-0) !important;
    }
    .mb-xl-1{
        margin-bottom: var(--margin-1) !important;
    }
    .mb-xl-2{
        margin-bottom: var(--margin-2) !important;
    }
    .mb-xl-3{
        margin-bottom: var(--margin-3) !important;
    }
    .mb-xl-4{
        margin-bottom: var(--margin-4) !important;
    }
    .mb-xl-5{
        margin-bottom: var(--margin-5) !important;
    }
    .mb-xl-6{
      margin-bottom: var(--margin-6) !important;
    }
}


/* margin right */
.mr-0 {
  margin-right: var(--margin-0) !important;
}
.mr-1 {
  margin-right: var(--margin-1) !important;
}
.mr-2 {
  margin-right: var(--margin-2) !important;
}
.mr-3 {
  margin-right: var(--margin-3) !important;
}
.mr-4 {
  margin-right: var(--margin-4) !important;
}
.mr-5 {
  margin-right: var(--margin-5) !important;
}
.mr-6 {
  margin-right: var(--margin-6) !important;
}

@media screen and (min-width: 576px){
    .mr-sm-0{
        margin-right: var(--margin-0) !important;
    }
    .mr-sm-1{
        margin-right: var(--margin-1) !important;
    }
    .mr-sm-2{
        margin-right: var(--margin-2) !important;
    }
    .mr-sm-3{
        margin-right: var(--margin-3) !important;
    }
    .mr-sm-4{
        margin-right: var(--margin-4) !important;
    }
    .mr-sm-5{
        margin-right: var(--margin-5) !important;
    }
    .mr-sm-6{
      margin-right: var(--margin-6) !important;
    }
}
@media screen and (min-width:768px){
    .mr-md-0{
        margin-right: var(--margin-0) !important;
    }
    .mr-md-1{
        margin-right: var(--margin-1) !important;
    }
    .mr-md-2{
        margin-right: var(--margin-2) !important;
    }
    .mr-md-3{
        margin-right: var(--margin-3) !important;
    }
    .mr-md-4{
        margin-right: var(--margin-4) !important;
    }
    .mr-md-5{
        margin-right: var(--margin-5) !important;
    }
    .mr-md-6{
      margin-right: var(--margin-6) !important;
    }
}

@media screen and (min-width: 992px){
    .mr-lg-0{
        margin-right: var(--margin-0) !important;
    }
    .mr-lg-1{
        margin-right: var(--margin-1) !important;
    }
    .mr-lg-2{
        margin-right: var(--margin-2) !important;
    }
    .mr-lg-3{
        margin-right: var(--margin-3) !important;
    }
    .mr-lg-4{
        margin-right: var(--margin-4) !important;
    }
    .mr-lg-5{
        margin-right: var(--margin-5) !important;
    }
    .mr-lg-6{
      margin-right: var(--margin-6) !important;
    }
}
@media screen and (min-width: 1200px){
    .mr-xl-0{
        margin-right: var(--margin-0) !important;
    }
    .mr-xl-1{
        margin-right: var(--margin-1) !important;
    }
    .mr-xl-2{
        margin-right: var(--margin-2) !important;
    }
    .mr-xl-3{
        margin-right: var(--margin-3) !important;
    }
    .mr-xl-4{
        margin-right: var(--margin-4) !important;
    }
    .mr-xl-5{
        margin-right: var(--margin-5) !important;
    }
    .mr-xl-6{
      margin-right: var(--margin-6) !important;
    }
}
