/*---   horizontal   ---*/
.px-0{
    padding: 0 !important;
}
.px-1{
    padding-left: var(--padding-1) !important;
    padding-right: var(--padding-1) !important;
}
.px-2{
    padding-left: var(--padding-2) !important;
    padding-right: var(--padding-2) !important;
}
.px-3{
    padding-left: var(--padding-3) !important;
    padding-right: var(--padding-3) !important;
}
.px-4{
    padding-left: var(--padding-4) !important;
    padding-right: var(--padding-4) !important;
}
.px-5{
    padding-left: var(--padding-5) !important;
    padding-right: var(--padding-5) !important;
}
.px-6{
    padding-left: var(--padding-6) !important;
    padding-right: var(--padding-6) !important;
}
@media screen and (max-width: var(--breakpoint-xs)){
    .px-xs-0{
        padding: 0 !important;
    }
    .px-xs-1{
        padding-left: var(--padding-1) !important;
        padding-right: var(--padding-1) !important;
    }
    .px-xs-2{
        padding-left: var(--padding-2) !important;
        padding-right: var(--padding-2) !important;
    }
    .px-xs-3{
        padding-left: var(--padding-3) !important;
        padding-right: var(--padding-3) !important;
    }
    .px-xs-4{
        padding-left: var(--padding-4) !important;
        padding-right: var(--padding-4) !important;
    }
    .px-xs-5{
        padding-left: var(--padding-5) !important;
        padding-right: var(--padding-5) !important;
    }
    .px-xs-6{
        padding-left: var(--padding-6) !important;
        padding-right: var(--padding-6) !important;
    }
}
@media screen and (min-width: var(--breakpoint-sm)){
    .px-sm-0{
        padding: 0 !important;
    }
    .px-sm-1{
        padding-left: var(--padding-1) !important;
        padding-right: var(--padding-1) !important;
    }
    .px-sm-2{
        padding-left: var(--padding-2) !important;
        padding-right: var(--padding-2) !important;
    }
    .px-sm-3{
        padding-left: var(--padding-3) !important;
        padding-right: var(--padding-3) !important;
    }
    .px-sm-4{
        padding-left: var(--padding-4) !important;
        padding-right: var(--padding-4) !important;
    }
    .px-sm-5{
        padding-left: var(--padding-5) !important;
        padding-right: var(--padding-5) !important;
    }
    .px-sm-6{
        padding-left: var(--padding-6) !important;
        padding-right: var(--padding-6) !important;
    }
}
/*---   vertical   ---*/
.py-1{
    padding-top: var(--padding-1) !important;
    padding-bottom: var(--padding-1) !important;
}
.py-2{
    padding-top: var(--padding-2) !important;
    padding-bottom: var(--padding-2) !important;
}
.py-3{
    padding-top: var(--padding-3) !important;
    padding-bottom: var(--padding-3) !important;
}
.py-4{
    padding-top: var(--padding-4) !important;
    padding-bottom: var(--padding-4) !important;
}
.py-5{
    padding-top: var(--padding-5) !important;
    padding-bottom: var(--padding-5) !important;
}
.py-6{
    padding-top: var(--padding-6) !important;
    padding-bottom: var(--padding-6) !important;
}