@import "../Styles/colors.css";

/*  only for preview  */
body{
    margin: 0;
}
.avatars{
    padding: 1rem;
    background-color: var(--gray-background);
    height: 100vh;
}
.avatars > div{
    padding-bottom: .2rem;
}
.block{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.block div:nth-child(even){
    margin: .2rem;
}
.block-title{
    color: #fff;
}



.avatar{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}
.avatar > img{
    border-radius: 50%;
    transition: opacity .15s ease;
    max-width: 100%;
    max-height: 100%;
}
/*   Sizes   */
.avatar.avatar-xl{
    width: 6rem;
    height: 6rem;
}


/*   Hover effect   */
.avatar.hover {
    background-color: #fff;
}
.avatar.hover > img:hover{
    opacity: .8;
}
.avatar.hover.avatar-add-btn > img:hover{
    opacity: .7;
}



/*when set border in rem/em but not in px, have fantom 1px gap between border and img(in 100% page scale)*/
.avatar.stories > img{
    box-sizing: border-box;
    border: 3px solid #fff;
}
.avatar.stories-active > img{
    box-sizing: border-box;
    border: 3px solid var(--primary);
}


/*   Status indicator   */
.avatar.status-active{
    position: relative;
}
.avatar.status-active::after{
    content: "";
    position: absolute;
    z-index: 99;
    bottom: 0;
    right: 0;
    background-color: var(--success-darken1);
    border-radius: 50%;
    height: .75rem;
    width: .75rem;
    border: 2px solid var(--gray-background);
}

.avatar.wh-96.status-active::after{
    bottom: 3%;
    right: 7%;
    height: 1rem;
    width: 1rem;
}

.avatar.status-offline{
    position: relative;
}
.avatar.status-offline > div{
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--dark);
    color: var(--success);
    border-radius: 1rem;
    font-size: .625rem;
    border: 2px solid var(--dark);
}
.avatar.status-offline > div > span{
    padding: 0 .1rem;
    background-color: var(--success-shade2);
    border-radius: 1rem;
    font-size: .625rem;
}



/*   Avatar for vide room btn   */
.avatar.avatar-add-btn{
    background-color: transparent;
    position: relative;
}
.avatar.avatar-add-btn>i{
    pointer-events: none;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    width: 100%;
    height: 100%;
}
.avatar.avatar-add-btn>img{
    opacity: .55;
}