:root{
    --primary-icon-color: var(--primary); /* tab selected icon color, like icon color, logo color */

    --secondary-icon-color: var(--secondary-lighten1); /* most icons on the page */
    --context-button-color: var(--secondary-lighten5); /* icons in complex elements(not buttons), like inputs, or on card */ 
    
    --info-icon-color: var(--info); 
    --success-icon-color: var(--success); /* icon color on newsline buttons */
    --alert-icon-color: var(--icon-allert);
}

