$border-color-primary: $primary; /*tabs, active story*/
    
$border-color-secondary:(
        "default": $secondary-lighten1, /*contact*/
        "darken": $secondary-lighten2, /*showed story*/
        "lighten": $secondary-lighten3,/*menu*/
    );
