@import "colors.css";
/* Unfixed size, main */
.btn {
    border: none;
    border-radius: 8px;
    font-weight: bold;
    padding: 12px 12px;
    font-size: 16px;
    cursor: pointer;
}
.btn-fixed {
  width: 124px;
  height: 36px;
}

  /* Colors (types) of button */

  .btn-primary {
    background-color: var(--blue);
    color: var(--gray-light-light);
  }
  .btn-primary:hover {
    background-color: var(--blue-hover);
  }
  .btn-default {
    background-color: var(--gray-dark);
    color: var(--gray-light);
  }
  .btn-default:hover {
    background-color: var(--gray-dark-hover);
  }
  .btn-switch {
  position: relative;
  display: inline-block;
  }
  
  /* Contains image */

  .btn-text-icon {

  }
  .btn-icon {
      
  }

  /* Different forms */
  .btn-icon-round {
      border-radius: 50%;
      text-align: center;
      align-items: center;
      height: 100%;
      width: 100%;  
  }
  .btn-icon-square {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .btn-icon-rectangle {
   
    padding: 4px 16px;  
    text-align: center;
    align-items: center;
  }

  /*Sizes diff */
  .btn-sm {
    height: 28px;
    width: 28px;
  }
  .btn-md {
    height: 32px;
    width: 32px;
  }
  .btn-lg {
    height: 40px;
    width: 40px;
  }
  .btn-xl {
    height: 50px;
    width: 50px;
  }
  /* TODO: Transparent button with blue text */
  .btn-transparent {
    background-color: transparent;
    color: var(--blue);
    font-weight: inherit;
  }
  .btn-transparent-invisible {
    color: transparent;
  }
  .btn-transparent:hover {
    background-color: var(--gray-dark);
    color: var(--blue);
    font-weight: inherit;
  }