:root {
--gray-background: #18191A;
--card-background: #242526;
--gray-dark: #3A3B3C;
--gray-dark-hover: #484A4B;
--gray: #A8ABAF;
--gray-light: #B8BBBF;
--blue: #2D88FF;
--blue-hover: #3F91FC;
--gray-light-light: #E2E4E9;
--green: #46AB5E;
--gray-line: #3e4042;
--text-color-primary: #e4e6eb;
--text-color-secondary: #b0b3b8;



    --blue-link: #216FDB; /*probably we don't need that*/

    --primary: #2D88FF; /*active-btn*/
    --primary-shade1: #4294FF; /* hover on btn with --primary bgc */
    --primary-shade2: rgba(45, 136, 255, 0.2); /*transparent primary for btn*/
    --primary-shade3: #3C4D63; /*active-btn-bgc*/

    --dark: #18191A; /*main background*/
    --dark-shade1: #242526; /*background block, card, header        --card-bgc       */
    --dark-shade2: #3A3B3C; /*background btn, input                 --gray-dark      */
    --dark-shade3: #4E4F50; /*hover input, btn, menu-item*/
    --dark-shade4: #A8A8A9; /*popup bgc                             --gray           */
    --dark-shade5: rgba(0,0,0,.4); /* cross btn bgc (People You May Know)*/

    --text-primary: #fff;
    --text-primary-shade1: #E4E6E8; /*text-primary*/
    --text-primary-shade2: #B0B3B8; /*text-secondary                --gray, --gray-light          */

    --notification: #F23E5C;

    --success: #58C472; /*text, icon*/
    --success-shade1: #46AB5E; /*online bgc*/
    --success-shade2: rgba(0,255,0,.15); /*offline bgc*/

}
