.input {
width: 100%;
outline: none;
box-sizing: border-box;
border: none;
color: #A8ABAF;
background-repeat: no-repeat;
background-color: #3A3B3C;
cursor: pointer;
text-align: left;
}

.input-WithIcon {
  border-radius: 50px;
  max-width: 240px;
  font-size: 16px;
  background-image: url('../Images/searchicon.png');
  background-position: 10px 10px;
  padding: 16px 16px 8px 40px;
}
.input-WithOutIcon {
  border-radius: 50px;
  max-width: 400px;
  font-size: 16px;
  background-position: 10px 10px;
  padding: 16px 16px 8px;
}
