.input {
width: 100%;
outline: none;
box-sizing: border-box;
border: none;
color: #E2E4E9;
background-repeat: no-repeat;
background-color: #3A3B3C;
cursor: pointer;
text-align: left;
line-height: 24px;
}

.input-WithIcon {
  border-radius: 24px;
  max-width: 240px;
  font-size: 16px;
  background-image: url('../Images/searchicon.png');
  background-position: 10px 14px;
  padding: 12px 8px 12px 40px;
}
.input-WithOutIcon {
  border-radius: 24px;
  max-width: 400px;
  font-size: 16px;
  padding: 12px 12px 12px;
}
