:root {
  --background: #F0F2F5;
  --post-header: #fff;
  --active-icon-header: #1877F2;
  --background-button: #D8DADF;
  --color-text-in-left-menu: #101011;
  --color-text-in-right-menu: #7F8084;
  --color-plus:#1C1D21;
  --color-icon-in-header: #606266;
  --green-online: #41B35D;
  --notification: #CE223F;
  --hover-in-header: #F2F2F2;
  --be-in-online:#D3E3D6;
  --text-in-online :#3EA054;
  --blue-text-on-button: #1F7AD8;
  --dark-icon:#050505;
}
