@import "colors.css";
body{
    margin: 0;
    padding: 0;
}
.menu{ 
     padding-left: 8px;
    width: 360px;
    background-color:var(--gray-background);
}
.avatar img  {
    border-radius: 100%;
}
.menu_items{
    padding: 0px;
    margin: 0px; 
  
}

.menu_items__item{
    display: flex;
    width:95%;
    height: 52px;
    align-items: center;
    padding: 0 8px;
    
}
.menu_items__item:hover{
    background-color:var(--gray-dark);
    border-radius: 10px;
}
.menu_items__item-img{
    width: 36px;
    height: 36px;
    margin: 8px 12px 8px 0;
}
.menu_items__item-text {
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
}
.menu_inform{
    display: flex;
    width: 328px;
}
