@import "colors.css";
body{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.menu{ 
    padding-left: 8px;
    padding-top: 16px;
    width: 360px;
    background-color:var(--gray-background);
}

.avatar  {
    border-radius: 50%;
}
.menu_items{
    padding: 0px;
    margin: 0px; 
  
}

.menu_items__item{
    display: flex;
    width:95%;
    height: 52px;
    align-items: center;
    padding: 0 8px;
    
}
.menu_items__item:hover{
    background-color:var(--gray-dark);
    border-radius: 10px;
}
.menu_items__item-img{
    width: 36px;
    height: 36px;
    margin: 8px 12px 8px 0;
}
.menu_items__item-text {
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
}
.menu_links{
    padding-left: 8px; 
    padding-right: 8px;
    margin-bottom: 300px;
}
.menu_links_line{
    width: 90%;
    border-bottom: 1px solid var(--gray-line);
}
.menu_links__item{
    display: flex;
    align-items: center;

}
.menu_links__links-img{
    width: 36px;
    height: 36px;
    margin: 0 12px 8px 0;
    border-radius: 10px;
}
.fast-links{
padding-top: 20px;
padding-bottom: 4px;
}
.menu_inform{
    display: wrap;
    padding-left: 8px; 
    padding-right: 8px; 
    padding-bottom: 15px;
   
}
.menu_inform a{
     text-decoration: none;
}
.menu_inform a:hover{
    text-decoration: underline;
}
.menu_inform_dot{
 color: var(--text-color-secondary);
}

.copyright{
    margin: 0;
    display: inline;
}
.menu-right{
    padding-top:0 ;
}
.advertising-wrapper{
    border-bottom: 1px solid var(--gray-line);
}
.advertising{
    padding-left: 8px;
    padding-top: 20px;
   
}
.advertising-items{
    padding-top: 8px;
    padding-bottom: 8px;
    
}
.advertising-items-item{
    display: flex;
    padding: 8px;
    align-items: center; 
  
}
.advertising-items-item:hover{
    background-color:var(--gray-dark);
    border-radius: 10px;
}
.advertising-items-item img{
    border-radius: 8px;
    display: block;
    width: 130px;
}
.advertising-items-inform{
    margin-left: 12px;
}
.contacts-wrapper{
    padding-left: 8px;
    border-bottom: 1px solid var(--gray-line);
}
.contacts{
    margin-top: 20px;
}
.contact_items{
    padding-top: 8px;
    padding-bottom: 8px;
}
.contact-items-item:hover{
    background-color:var(--gray-dark);
    border-radius: 10px;
}
.contact_items__item{
    display: flex;
    align-items: center;
}
.contact_items__item-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 8px 12px 8px 0;
}
.group-chats-wrapper{
    padding-left: 8px;
    border-bottom: 1px solid var(--gray-line);
}
.group-chats{
    margin-top: 20px;
}
.group-chats_items{
    padding-top: 8px;
    padding-bottom: 8px;
}
.add_chats{
    align-items: center;
    border-radius: 50%;
    width: 36px;
    background-color: var (--gray-dark);
    position: relative;
}
.add_chat_plus{
    position: absolute;
    background-image: url(/rsrc.php/v3/yk/r/K4iCEdlymMZ.png);
    background-size: 21px 21px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
}
