.post-template{
	width: fit-content;
	background-color: var(--dark-darken1);
	color: var(--gray-light);
}

.post-btn{
	background-color: var(--dark-darken1);
	color: var(--gray-light);
}

.post-btn:hover{
	background-color: var(--gray-dark-hover);
}

.post-header{
	display: flex;
	padding: 12px 8px 8px 8px;
}

.sender-info{
	display: flex;
	flex-direction: column;
	padding: 4px 0 0 4px;
}

.time-info{
	display: flex;
	padding-top: 4px;
}

.post-text{
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: rgba(255,255,255,0.2);
	max-width: 580px;
	padding: 8px;
	border-radius: 5px;
}

.post-line-params{
	padding: 4px 0 4px 0;
	line-height: 18px;
}

.likes-counter{
	padding: 8px 0 8px 8px;
	border-bottom: 1px solid;
	border-color: rgba(255,255,255,0.2);
}

.btn-without-border{
	border: 0px;
	cursor: pointer;
}

.btn-like{
	background-color: red;
	color: white;
}

.btn-like:hover{
	background-color: 
}

.likes-panel{
	display: flex;
	justify-content: space-around;
	padding: 8px 0 8px 0;
	border-bottom: 1px solid;
	border-color: rgba(255,255,255,0.2);
}
