/*================Breakpoints===============*/
/*1420, 1190, 1040, 900, 700*/
/*================Breakpoints===============*/

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    color: #fff;
}

a:active {
    color: #fff;
}

/*=============header============*/


/*=============header============*/


/*==============body=============*/
.body-wrapper {
    display: flex;
    justify-content: space-between;
}


/*==============body=============*/

/*===============sidebar-left============*/
.aside-left, .aside-right {
    min-width: 360px;
    background-color: blue;
    display: block;
}

.content {
    display: block;
    flex: 1;
}

.aside-left ul, .aside-right ul {
    width: 100%;
}

/*===============aside-left============*/


/*=====================content ===============*/
.container {
    max-width: 680px;
    margin: 0 auto;
}

.slider {
    position: relative;
    margin: 0 -4px;
    display: flex;
    justify-content: space-between;
}

.slider-item {
    position: relative;
    width: calc((100% / 6) - 4px);
    /*padding: 0 4px;*/
    overflow: hidden;
    min-height: 190px;
    border-radius: 10px;
}

.slider-item__link {
    display: block;
    height: 100%;
}

.slider-item__link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .1);
    opacity: 0;
    visibility: collapse;
    transition: .3s;
    z-index: 1;
}

.slider-item:hover .slider-item__link:before {
    opacity: 1;
    visibility: visible;
}

.slider-item__bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 -50%;
    transition: .2s ease-in-out;
}

.slider-item:hover .slider-item__bg {
    transform: scale(1.1);
}

.slider-item_avatar {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 12px;
    left: 12px;
    border-radius: 50%;
    border: 4px solid var(--blue-hover);
}

.slider-item__title {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    font-weight: 600;
}

.slider-arrow {
    position: absolute;
    top: 70px;
    right: -20px;
    padding: 15px;
    background-color: #3e4042;
    border-radius: 50%;
    color: var(--gray);
}

.slider-arrow:hover {
    background-color: var(--gray-dark-hover);
}

@media (max-width: 1420px) {
    .container {
        max-width: 600px;
    }

    .aside-left, .aside-right {
        min-width: 280px;
    }

    .slider-item {
        width: calc((100% / 5) - 4px);
    }

    .item-six {
        display: none;
    }
}

@media (max-width: 1190px) {
        .aside-left, .aside-right {
        min-width: 200px;
    }
}
@media (max-width: 1040px) {
    .container {
        max-width: 550px
    }
    .aside-left {
        display: none;
    }
    .slider-item {
        width: calc((100% / 4) - 4px);
    }

    .item-five {
        display: none;
    }
}
@media (max-width: 900px){
    .container {
        max-width: 680px
    }
    .aside-right{
        display: none;
    }
}
@media (max-width: 700px) {
    .container {
        max-width: 400px
    }

    .slider-item {
        width: calc((100% / 3) - 4px);
    }

    .item-four {
        display: none;
    }
    .slider-arrow{
        top: 70px;
        right: 0;
        padding: 15px;
    }
}

/*=====================content ===============*/
