/*================Breakpoints===============*/
/*1420, 1190, 1040, 900, 700*/
/*================Breakpoints===============*/
@import "config/colors.css";

@import "lib/fonts.css";
@import "lib/helpers.css";
@import "lib/sizes.css";
@import "lib/spacing.css";
@import "lib/buttons.css";

@import "components/menu.css";
@import "components/input.css";
@import "components/avatar.css";
@import "components/tabs.css";
@import "components/card.css";

/*===============General start========*/
* {
    box-sizing: border-box;
}

body {
    background-color: #18191A;
    overflow: hidden;

}

::-webkit-scrollbar {
    display: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    color: #fff;
}

a:active {
    color: #fff;
}

/*===============General end========*/

/*=============header start============*/
.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 3;
    background-color: #242526;
    padding: 10px 8px 8px;
    border-bottom: 1px outset var(--gray-light);
    outline: white;
}

.logo {
    margin-right: 12px;
}

.logo img {
    width: 40px;
}

.aside-header__left, .aside-header__right {
    display: flex;
    color: #fff;
}

.aside-header__right {
    justify-content: space-between;
    padding-right: 8px;
    padding-left: 4px;
}

/*=============header end============*/


/*==============body start=============*/
.body-wrapper {
    padding-top: 90px;
    padding-right: 8px;
    padding-left: 8px;
    height: 100vh;
    display: flex;
    justify-content: space-between;

}

.aside-left, .aside-right, .content {
    /*overflow: auto;*/
    overflow-y: scroll;

}

/*==============body end=============*/

/*===============aside-left start============*/
.aside-left, .aside-right, .aside-header__left, .aside-header__right {
    width: 360px;
}

.aside-left, .aside-right {
    padding-left: 4px;
    padding-right: 4px;
}

.content {
    display: block;
    flex: 1;
    overflow: scroll;
}

.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar {
    width: 12px;
}

.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.aside-left ul, .aside-right ul {
    width: 100%;
}

/*===============aside-left end============*/

/*===============aside-right start=============*/

.hidden-card{
	visibility: hidden;
    position: absolute;
    right: 442px;
}

.contact_items__item.rounded-8.pos-rel.hover:hover > .hidden-card{
	visibility: visible;
}

/*===============aside-right end=============*/

/*=====================content start===============*/
.container {
    max-width: 680px;
    margin: 0 auto;
}

.stories {
    position: relative;
    /*margin: 0 -4px;*/
    display: flex;
    justify-content: space-between;
}

.stories-item {
    position: relative;
    width: calc((100% / 6) - 4px);
    /*padding: 0 4px;*/
    overflow: hidden;
    min-height: 190px;
    border-radius: 10px;
}

.stories-item__link {
    display: block;
    height: 100%;
}

.stories-item__link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .1);
    opacity: 0;
    visibility: collapse;
    transition: .3s;
    z-index: 1;
}

.stories-item:hover .stories-item__link:before {
    opacity: 1;
    visibility: visible;
}

.stories-item__bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 -50%;
    transition: .2s ease-in-out;
}

.stories-item:hover .stories-item__bg {
    transform: scale(1.1);
}

.stories-item_avatar {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 12px;
    left: 12px;
    border-radius: 50%;
    border: 4px solid var(--blue-hover);
}

.stories-item__title {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    font-weight: 600;
}

.stories-arrow {
    position: absolute;
    top: 70px;
    right: -20px;
    padding: 15px;
    background-color: #3e4042;
    border-radius: 50%;
    color: var(--gray);
    cursor: pointer;
}

.stories-arrow:hover {
    background-color: var(--gray-dark-hover);
}

.arrow {
    display: flex;
}

@media (max-width: 1470px) {
    .container {
        max-width: 600px;
    }

    .aside-left, .aside-right {
        width: 280px;
    }

    .stories-item {
        width: calc((100% / 5) - 4px);
    }

    .item-six {
        display: none;
    }
    .friend-invite{
        flex-direction: column;
    }
}

@media (max-width: 1220px) {
    .aside-left, .aside-right {
        width: 240px;
    }

    .input-with-icon {
        max-width: 40px;
        padding: 0;

    }

    .input-with-icon::placeholder {
        opacity: 0;
    }

    .advertising-items-inform {
        padding-left: 6px;
    }

    .advertising-items-item img {
        width: 120px;
    }
}

@media (max-width: 1140px) {
    .container {
        max-width: 590px
    }

    .aside-left {
        display: none;
    }

    .aside-right {
    }

    .stories-item {
        width: calc((100% / 4) - 4px);
    }

    .item-five {
        display: none;
    }
}

@media (max-width: 900px) {
    .container {
        max-width: 680px
    }

    .stories-item {
        width: calc((100% / 5) - 4px);
    }

    .item-five {
        display: block;
    }

    .aside-right {
        display: none;
    }
}

@media (max-width: 740px) {
    .body-wrapper {
        padding-right: 4px;
        padding-left: 4px;
    }

    .container {
        max-width: 100%
    }

    .aside-left, .aside-right {
        padding-left: 0;
        padding-right: 0;
    }

    .stories-item {
        width: calc((100% / 5) - 4px);
    }

    .item-four, .item-five {
        display: block;
    }

    .stories-arrow {
        top: 70px;
        right: 0;
        padding: 15px;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 100%
    }

    .stories-item {
        width: calc((100% / 4) - 4px);
    }

    .item-five {
        display: none;
    }

    .stories-arrow {
        top: 70px;
        right: 0;
        padding: 15px;
    }

}

@media (max-width: 450px) {
    .container {
        max-width: 100%
    }

    .stories-item {
        width: calc((100% / 3) - 4px);
    }

    .item-four {
        display: none;
    }

}

/*=====================content end===============*/
