@import "../root";
$sizes: (
        "3": 3 * $base-rhythm,
        "4": 4 * $base-rhythm,
        "4-5": 4.5 * $base-rhythm,
        "5": 5 * $base-rhythm,
        "6": 6 * $base-rhythm,
        "7": 7 * $base-rhythm,
        "8": 8 * $base-rhythm,
        "9": 9 * $base-rhythm,
        "10": 10 * $base-rhythm,
        "12": 12 * $base-rhythm,
        "15": 15 * $base-rhythm,
        "23": 23 * $base-rhythm,
        "24": 24 * $base-rhythm,
);


    //$size-3: 3 * $base-rhythm;
    //$size-4: 4 * $base-rhythm;
    //$size-4-5: 4.5 * $base-rhythm;
    //$size-5: 5 * $base-rhythm;
    //$size-6: 6 * $base-rhythm;
    //$size-7: 7 * $base-rhythm;
    //$size-8: 8 * $base-rhythm;
    //$size-9: 9 * $base-rhythm;
    //$size-10: 10 * $base-rhythm;
    //$size-12: 12 * $base-rhythm;
    //$size-15: 15 * $base-rhythm;
    //$size-23: 23 * $base-rhythm;
    //$size-24: 24 * $base-rhythm;
