
@each $type, $value in $position{
    .pos-#{$type}{
        position: $value !important;
    }
}
@each $point, $screen-size in $grid-breakpoints{
    @media screen and (min-width: $screen-size){
        @each $type, $value in $position{
            .pos-#{$type}-#{$point}{
                position: $value !important;
            }
        }
    }
}